@use '../abstracts' as abs;


.cta {
	&__tag {
		font-size: 0.625rem;
		color: var(--clr-faint);

		@include abs.breakpoint(large) {
			font-size: 0.875rem;
			margin-bottom: 0.5rem;
		}
	}
	&__inputs {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: var(--clr-gray-bg);
		padding: 0.25rem;
		border-radius: 0.75rem;
	}
	&__email {
		width: 60%;
		background-color: transparent;
		font-size: 0.875rem;
		border: 0;
		margin-left: 1rem;

		@include abs.breakpoint(large) {
			font-size: 1.125rem;
		}

		&:focus {
			outline: none;
		}

		&::placeholder {
			color: #bdbdbd;
		}
	}

	&__submit {
		border: 0;
		padding: 0.85em 1.43em;
		border-radius: 0.75rem;
		color: #fff;
		background-color: var(--clr-blue);
		font-size: 0.875rem;

		@include abs.breakpoint(large) {
			font-size: 1.125rem;
		}
	}
}


// Footer
.footer {
	display: flex;
	justify-content: center;
	margin-top: auto;
	margin-bottom: 1.5rem;
	font-size: 0.875rem;

	&__attribution {
		font-weight: 500;
		font-family: var(--ff-sans);
		color: #A9A9A9;
	}

	&__link {
		color: #A9A9A9;
		font-weight: 700;
	}
}