@use '../abstracts/' as abs;

.team {
	display: flex;
	flex-direction: column;
	gap: 2.25rem;
	margin-inline: 1rem;
	margin-bottom: 6.25rem;

	@include abs.breakpoint(large) {
		flex-direction: row;
		justify-content: space-between;
		gap: 0;
		width: 77%;
		margin-inline: auto;
		max-width: abs.rem(1103);
	}

	&__text {
		@include abs.breakpoint(large) {
			width: 30%;
			max-width: abs.rem(280);
		}
	}

	&__tag {
		color: var(--clr-pink);
		font-size: 1.125rem;
		margin-bottom: 0.5rem;
	}

	&__title {
		font-size: 2.25rem;
		width: 82%;
		margin-bottom: 0.875rem;
	}

	&__description {
		color: var(--clr-text-gray);
		font-size: 1rem;
	}

	&__gallery {
		display: grid;
		grid-template-columns: 0.52fr 0.48fr;
		grid-template-rows: 0.47fr 0.53fr;
		gap: 0.5rem;
		justify-items: start;
		align-items: start;
		grid-template-areas: 
			'one two'
			'one three' ;

		@include abs.breakpoint(large) {
			width: 58%;
		}
	}

	&__img {
		border-radius: 1.5rem;

		&:first-child {
			grid-area: one;
			align-self: center;
		}

		&:nth-child(2) {
			grid-area: two;
		}

		&:last-child {
			grid-area: three;
		}
	}
}